<div
  class="bg-base-200 border-base-300 hover:border-base-content/10 rounded-xl border p-4"
>
  <div
    class="flex cursor-pointer items-center justify-between transition-all"
    (click)="toggleCollapsed()"
  >
    <div>
      <h2 class="text-xl font-semibold">{{ title() }}</h2>
      @if (subtitle()) {
        <p class="text-base-content/70 text-sm">{{ subtitle() }}</p>
      }
      <ng-content select="[subtitle]" />
    </div>
    <div class="flex items-center justify-end gap-4">
      <!-- Header content projection -->
      @for (content of headerContent(); track content) {
        <ng-container [ngTemplateOutlet]="content" />
      }
      <app-button
        (click)="toggleCollapsed()"
        [title]="collapsed() ? 'Expand' : 'Collapse'"
        [icon]="'keyboard_arrow_up'"
        [secondaryIcon]="'keyboard_arrow_down'"
        [toggled]="collapsed()"
        [ghost]="true"
      />
    </div>
  </div>

  <div
    class="collapse-transition"
    [class.collapse-collapsed]="collapsed()"
    [class.collapse-expanded]="!collapsed()"
  >
    <ng-content />
  </div>
</div>
