<div class="mb-4 flex items-center justify-between">
  <div class="flex items-center space-x-4">
    <img [src]="logoSrc" alt="Tressi Logo" class="h-12 w-12" />
    <span class="truncate align-middle text-3xl font-bold">
      {{ titleService.getTitle() }}
    </span>
  </div>
  <div class="flex items-center justify-end gap-4">
    @if (!appRouter.isOnDocs() && !appRouter.isOnServerUnavailable()) {
      <div class="fixed right-4 bottom-4">
        <app-button
          (click)="appRouter.toDocs()"
          (onKeyDown)="appRouter.toDocs()"
          [icon]="'help_outline'"
          [title]="'Docs'"
          [color]="'neutral'"
          [ghost]="true"
        />
      </div>
    }
    <ng-content />
  </div>
</div>
