<div class="bg-base-100 ring-neutral mb-4 rounded p-4 ring-1">
  <div class="mb-3 flex items-center justify-between">
    <h3 class="text-lg font-medium">
      Request {{ requestIndex() + 1 }}:
      {{ configForm().config.requests![requestIndex()].url() || 'New Request' }}
    </h3>
    <button
      type="button"
      class="btn btn-ghost btn-sm"
      (click)="removeRequest.emit()"
    >
      <app-icon name="delete" class="h-4 w-4" />
      Remove
    </button>
  </div>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <!-- URL -->
    <fieldset class="fieldset md:col-span-2">
      <legend class="fieldset-legend">URL</legend>
      <input
        type="url"
        class="input"
        [field]="configForm().config.requests![requestIndex()].url"
        placeholder="https://api.example.com/endpoint"
      />
      @if (
        configForm().config.requests![requestIndex()].url().touched() &&
        configForm().config.requests![requestIndex()].url().invalid()
      ) {
        <p class="label text-error">
          @for (
            error of configForm()
              .config.requests![requestIndex()].url()
              .errors();
            track error
          ) {
            {{ error.message }}
          }
        </p>
      }
    </fieldset>

    <!-- Method -->
    <!-- <fieldset class="fieldset">
      <legend class="fieldset-legend">HTTP Method</legend>
      <select
        class="select"
        [field]="configForm().config.requests![requestIndex()].method!"
      >
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="PATCH">PATCH</option>
        <option value="DELETE">DELETE</option>
        <option value="HEAD">HEAD</option>
        <option value="OPTIONS">OPTIONS</option>
      </select>
    </fieldset> -->

    <!-- RPS -->
    <fieldset class="fieldset">
      <legend class="fieldset-legend">RPS</legend>
      <input
        type="number"
        class="input"
        [field]="configForm().config.requests![requestIndex()].rps!"
        placeholder="Requests per second"
      />
      <p class="label">Requests per second</p>
      @if (
        configForm().config.requests![requestIndex()]?.rps()?.touched() &&
        configForm().config.requests![requestIndex()]?.rps()?.invalid()
      ) {
        <p class="label text-error">
          @for (
            error of configForm()
              .config.requests![requestIndex()]?.rps()!
              .errors();
            track error
          ) {
            {{ error.message }}
          }
        </p>
      }
    </fieldset>

    <!-- Headers -->
    <fieldset class="fieldset md:col-span-2">
      <legend class="fieldset-legend">Headers (JSON)</legend>
      <!-- TODO: Not sure how to make this work yet
       <textarea
        class="textarea font-mono text-sm"
        rows="3"
        [field]="configForm().config.requests![requestIndex()].headers"
        placeholder='{"Content-Type": "application/json", "Authorization": "Bearer token"}'
      ></textarea>
       -->
    </fieldset>

    <!-- Payload -->
    <fieldset class="fieldset md:col-span-2">
      <legend class="fieldset-legend">Payload (JSON)</legend>
      <!--
      TODO: Not sure how to make this work yet
      <textarea
        class="textarea font-mono text-sm"
        rows="4"
        [field]="configForm().config.requests![requestIndex()].payload"
        placeholder='{"key": "value", "array": [1, 2, 3]}'
      ></textarea>
      -->
    </fieldset>
  </div>
</div>
