<!-- biome-ignore-all lint/a11y/useButtonType: [attr.type]="type()" -->
<button
  (click)="onClick($event)"
  [attr.aria-label]="buttonTitle()"
  [attr.aria-disabled]="disabled()"
  [disabled]="disabled()"
  [title]="buttonTitle()"
  [class]="buttonClasses()"
  [attr.type]="type()"
  [attr.tabindex]="tabindex()"
  class="group"
>
  @if (title()) {
    <span
      class="-mr-1.5 w-0 overflow-hidden whitespace-nowrap opacity-0 transition-all duration-300 ease-in-out group-hover:mr-0 group-hover:w-auto group-hover:opacity-100"
      >{{ title() }}</span
    >
  }
  @if (secondaryIcon()) {
    <div class="relative flex size-6 items-center justify-center">
      <app-icon
        [name]="icon()"
        class="absolute transition-all duration-300 ease-in-out"
        [class.opacity-0]="toggled()"
        [class.scale-0]="toggled()"
        [class.rotate-90]="toggled()"
      />
      <app-icon
        [name]="secondaryIcon()"
        class="absolute transition-all duration-300 ease-in-out"
        [class.opacity-0]="!toggled()"
        [class.scale-100]="toggled()"
        [class.scale-0]="!toggled()"
        [class.rotate-0]="toggled()"
        [class.-rotate-90]="!toggled()"
      />
    </div>
  } @else if (icon()) {
    <app-icon [name]="icon()" />
  }
</button>
