<div class="p-16">
  <app-header>
    <!-- Configuration Selector -->
    <div class="form-control">
      <select
        class="select select-bordered"
        (change)="onConfigSelectEvent($event)"
        [value]="selectedConfigId()"
      >
        <option disabled>Select Configuration</option>
        @for (config of configs(); track config.id) {
          <option [value]="config.id">{{ config.name }}</option>
        }
      </select>
    </div>

    <button
      (click)="start()"
      class="btn btn-sm btn-primary btn-circle btn-outline"
      title="Start New Test"
      [disabled]="!selectedConfigId()"
    >
      <app-icon name="bolt" />
    </button>
    <button
      (click)="navigateToSettings()"
      class="btn btn-ghost btn-circle"
      title="Settings"
    >
      <app-icon name="settings" />
    </button>
  </app-header>

  <!-- Test List Component -->
  @if (selectedConfigId()) {
    <div class="mt-8">
      <app-test-list [configId]="selectedConfigId()" />
    </div>
  } @else {
    <!-- Empty State -->
    <div class="hero bg-base-200 mt-8 min-h-125 rounded-lg">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-2xl font-bold">Select a Configuration</h1>
          <p class="py-6 text-neutral-600">
            Choose a configuration from the dropdown to view test history
          </p>
        </div>
      </div>
    </div>
  }
</div>
