<div class="hero bg-base-100 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <img [src]="logoSrc" alt="Tressi Logo" class="mx-auto mb-2 h-48 w-48" />

      <h1 class="mb-4 text-5xl font-bold">Welcome to Tressi</h1>

      <p class="mb-8 text-lg">
        Load test your APIs with precision. Define endpoints, simulate traffic, and monitor
        performance in realtime.
      </p>

      <div class="flex justify-center gap-4">
        <app-button
          (click)="appRouter.toConfigs()"
          (onKeyDown)="appRouter.toConfigs()"
          [color]="'primary'"
          [icon]="'rocket'"
          [title]="'Get Started'"
        />
        <app-button
          (click)="appRouter.toDocs('getting-started', 'intro')"
          (onKeyDown)="appRouter.toDocs('getting-started', 'intro')"
          [color]="'secondary'"
          [icon]="'help_outline'"
          [title]="'Docs'"
        />
      </div>
    </div>
  </div>
</div>
