<div class="bg-base-100 ring-neutral rounded p-6 ring-1">
  <h2 class="mb-4 flex items-center gap-2 text-lg font-semibold">
    <app-icon name="notes" class="h-5 w-5" />
    Global Headers
  </h2>

  <div class="space-y-2">
    <div class="text-base-content/70 mb-2 text-sm">
      Headers to be sent with every request. Use JSON format:
    </div>
    <!--
    TODO: Not sure how to make this work yet
    <textarea
      class="textarea textarea-bordered font-mono text-sm"
      rows="3"
      [field]="configForm().options.headers"
      placeholder='{"User-Agent": "Tressi/1.0.0", "Accept": "application/json"}'
    ></textarea>
    -->
  </div>
</div>
