@if (pwaService.canInstall()) {
  <div class="animate-in absolute inset-x-0 top-4 mx-auto w-fit">
    <div role="alert" class="alert">
      <span class="material-symbols-outlined text-primary">download</span>
      <div>
        <h3 class="font-bold">Install Tressi</h3>
        <div class="text-xs">
          Add Tressi to your desktop for a native experience.
        </div>
      </div>
      <div class="flex gap-2">
        <button
          class="btn btn-sm btn-ghost"
          (click)="pwaService.dismissPrompt()"
        >
          Dismiss
        </button>
        <button
          class="btn btn-sm btn-primary"
          (click)="pwaService.installPwa()"
        >
          Install
        </button>
      </div>
    </div>
  </div>
}
