<section class="bg-base-100 rounded-xl px-6">
  <app-collapsible-card
    [title]="'Test Configuration'"
    [collapsed]="collapsed()"
    (collapsedChange)="onCollapsedChange($event)"
  >
    <!-- Header content projection - Copy button -->
    <ng-template>
      <app-button
        (click)="copyConfig()"
        [title]="'Copy Config'"
        [icon]="'copy_all'"
        [ghost]="true"
      />
    </ng-template>
    <!-- Main content projection -->
    <div class="mt-4 space-y-4">
      <!-- Configuration Name -->
      <div>
        <span class="text-base-content/70 text-sm">Name</span>
        <p class="font-medium">{{ configName() }}</p>
      </div>

      <!-- Config Snapshot -->
      <div>
        <span class="text-base-content/70 text-sm">Snapshot</span>
        <app-json-textarea
          [value]="configSnapshot()"
          [rows]="15"
          [disabled]="true"
          class="mt-2"
        />
      </div>
    </div>
  </app-collapsible-card>
</section>
