<button
  (click)="onClick($event)"
  [attr.aria-label]="buttonTitle()"
  [attr.aria-disabled]="disabled()"
  [disabled]="disabled()"
  [title]="buttonTitle()"
  [class]="buttonClasses()"
  [attr.type]="type()"
  [attr.tabindex]="tabindex()"
  class="group"
>
  @if (title()) {
    <span
      class="-mr-1.5 w-0 overflow-hidden whitespace-nowrap opacity-0 transition-all duration-300 ease-in-out group-hover:mr-0 group-hover:w-auto group-hover:opacity-100"
      >{{ title() }}</span
    >
  }
  @if (icon()) {
    <app-icon [name]="icon()" />
  }
</button>
